/* Dark Theme */
.dark-theme * {
    color: white;
}

.dark-theme body {
    background: #2b2b2b;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 560px;
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    background: #333;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.container > h1 {
    font-size: 33px;
    font-weight: bold;
}

/* ... (Rest of the Dark Theme styles) */
